/* Global CSS*/
body {
   margin: 0;
   font-family: "Poppins", sans-serif;
   -webkit-font-smoothing: "Poppins", sans-serif;
   -moz-osx-font-smoothing: "Poppins", sans-serif;
   font-style: normal;
   background-color: var(--black);
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
   --primary: #c7493a;
   --primary-alt: #a33327;
   --secondary: #689775;
   --black: #000;
   --grey: #9c9c9c;
   --white: #ffffff;
}
